.information-links li{
    margin-bottom:4px;
    padding:2px 8px;
    background-color:rgb(238,237,237);
}

.information-links li a{
    color:red;
}





.action-links li{
    background-color:rgb(245 245 245);
    border:solid 1px rgb(190,190,190);
    padding:3px;
}


.action-links li a{
    display:block;
    padding:5px 23px;
    font-size:23px;
    color:black;
    text-decoration:none;
}


.action-links li:first-child{
    border-radius:8px 8px 0px 0px;
}

.action-links li:last-child{
    border-radius:0px 0px 8px 8px;
}


.navigation-links ui{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding:0px 10px;
}


.navigation-links li{
    width:49%;
    margin-bottom:5px;
    border:solid 1px rgb(190,190,190);
    
}

.navigation-links li:hover{
    background-color:orange;
}


.navigation-links li a{
    display:block;
    padding: 10px;
    color:black;
    text-decoration-line:none;
}




